<div class="flex flex-col h-screen" [ngClass]="colors">
    <div class="w-full grow px-4 pb-4">
        <div class="flex flex-col h-full">
            <div>
                <h2 class="text-xl font-bold text-white my-4">{{ board?.title }}</h2>
            </div>
            <div cdkDropListGroup class="flex grow items-start w-full h-full overflow-x-scroll">
                <div class="rounded bg-gray-200 w-72 p-2 mr-3 shrink-0" *ngFor="let list of board?.lists">
                    <div class="flex justify-between py-1">
                        <h3 class="text-sm font-bold ml-2">{{ list.title }}</h3>
                    </div>

                    <div class="text-sm mt-2 min-h-[2.5rem]" [id]="list.id" cdkDropList [cdkDropListData]="list.cards"
                        (cdkDropListDropped)="drop($event)">
                        <div *ngFor="let card of list.cards" cdkDrag (click)="openDialog(card)"
                            class="bg-white shadow p-2 rounded mt-2 border-b border-x-gray-300 cursor-pointer hover:bg-gray-400">
                            {{ card.title }}
                        </div>
                        <div class="mt-5">
                            <app-btn *ngIf="!list.showCardForm" color="light" class="shrink-0" (click)="openFormCard(list)"><fa-icon class="mr-1" [icon]="faPlus"></fa-icon>Add a card</app-btn>
                            <div class="w-full" *ngIf="list.showCardForm">
                                <textarea class="w-full rounded bg-gray-50 border-gray-300 border-2" [formControl]="inputCard"></textarea>
                                <div class="flex">
                                    <app-btn color="sky" (click)="createCard(list)">Create</app-btn>
                                    <fa-icon class="mt-2 ml-3 hover:cursor-pointer" [icon]="faClose" (click)="closeCardForm(list)"></fa-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shrink-0">
                    <button *ngIf="!showListForm" class="py-1 px-2 rounded bg-sky-700 text-white hover:bg-sky-600" (click)="showListForm = !showListForm"><fa-icon class="mr-1" [icon]="faPlus"></fa-icon>Add another list</button>
                        <div class="w-full" *ngIf="showListForm">
                            <textarea class="w-full rounded bg-gray-50 border-gray-300 border-2" [formControl]="inputList"></textarea>
                            <div class="flex">
                                <app-btn color="sky" (click)="addList()">Create</app-btn>
                                <fa-icon class="mt-2 ml-3 hover:cursor-pointer" [icon]="faClose" (click)="showListForm = !showListForm"></fa-icon>
                            </div>
                        </div>
                </div>
                
            </div>
        </div>
    </div>
</div>